.popup{color:a;
    h2.h2{color:a;

    }
    p.p{color:a;

    }
    a.go{color:a;

    }
    span{color:a;
        input{color:a;
           
        }
        a.close{color:a;
                
        }
    }

}